---
import BaseLayout from './BaseLayout.astro';
interface Props { title: string }
const { title } = Astro.props;
---
<BaseLayout title={title} noindex={true}>
  <div id="app-root">
    <slot />
  </div>
</BaseLayout>
